$niceBlue: rgb(0, 120, 219);

.HomeRoute {
  padding: 1rem;
  &__container {
    background: white;
    box-shadow: 0 0 5px rgba(black,.25);
    padding: 2rem 3rem;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
  }
  &__logo {
    width: 10rem;
  }
  &__title {
    margin: 1rem auto;
    margin-bottom: 0;
    max-width: 30rem;
    text-align: center;
    color: #4DA886;
  }
  &__body-copy {
    color: #63666A;
    font-size: .75rem;
  }
  &__label {
    color: #4DA886;
    font-weight: bold;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__link {
    color: $niceBlue;
    font-weight: bold;
    &:hover {
      color: darken($niceBlue, 10%);
    }
  }
}

.QuestionAndAnswer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .75rem;
  &__q {
    color: #63666A;
    margin-left: 1rem;
  }
}