$niceBlue: rgb(0, 120, 219);

.App {
  $this: &;
  display: flex;
  height: 100vh;
  background: rgba(black,.05);
  &__label {
    padding: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__nav {
    width: min-content;
    background: white;
    border-right: 1px solid lightgrey;
    box-shadow: 0 0 5px rgba(black,.25);
    display: flex;
    flex-direction: column;
  }
  &__logo-link {
    padding: 1rem;
    &:hover {
      background: rgba(black,.125);
    }
  }
  &__nav-link {
    text-decoration: none;
    padding: .5rem 1rem;
    border-right: solid 5px transparent;
    color: black;
    white-space: nowrap;
    &--is-active {
      color: $niceBlue;
      border-right-color:$niceBlue;
    }
    &:hover {
      background: rgba(black,.125);
    }
  }
  &__main {
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    #{$this}__label {
      display: none;
    }
    #{$this}__nav {
      width: auto;
      flex-direction: row;
      align-items: center;
    }
    #{$this}__logo-link {
      padding: .5rem;
    }
    #{$this}__nav-link {
      border-right: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &--is-active {
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: $niceBlue;
          height: 5px;
        }
      }
    }
  }
}
